* {
    box-sizing: border-box;
}

header, nav, section, footer {
    border: 2px solid red;
}

header {
    width: 800px;
    height: 200px;
}

nav {
    width: 100px;
    height: 400px;
}

section {
    width: 700px;
    height: 400px;
    text-align: center;  
    font-size: 30px;
}

footer {
    width: 800px;
    height: 200px;
}

main {
    display: flex;
}